body {
  height: 100%;
  margin: 0;
}
.box {
	display: flex;
	flex-flow: column;
  	height: 100%;
}
.box .row {
  border: 1px solid grey;
}
.box .row.header {
	flex-grow: 0,
	flex-shrink: 1,
	flex-basis: auto;
}
.box .row.content {
  flex: 1 1 auto;
}
.box .row.footer {
  flex: 0 1 40px;
}
.bt{
	position: relative;
	display: inline-block;
	background-color:red;
	padding: 1% 1% 1% 1%;
}
.inbx{
	float: right;
	border: 3px solid black;
	min-width: 100%;
}