.cg2{
	margin-top: 3%;
}
.lin{
	margin-top: 6%;
}
.in{
	margin-top: 0.5%;
}
.insb{
	margin-top: 8%;
}
.cgu{
	max-width: 30%;
	max-height: 70%;
	margin-top: 4%;	
	border: 2px solid black;
	border-radius: 1%;
	padding-bottom: 4%;
	padding-top: 1%;
}
.htr{
	font-family: Arial;
	font-weight: bold;
	font-size: 155%;
}
#sbbt{
	color:#fff;
	background-color:#34ACCA;
	border: 3px solid #076F89;
	border-radius: 5%;
	padding: 3% 8% 3% 8%;
	cursor: pointer;
}
#sbbt:hover{
	color:#fff;
	background-color:#0D3C48;
	border: 3px solid #003F4C;
	padding: 3% 8% 3% 8%;
	cursor: pointer;
}
#sbbt:active{
	color:#fff;
	background-color:#021B20;
	border: 3px solid #076F89;
	padding: 3% 8% 3% 8%;
	cursor: pointer;
}